<section data-ng-controller="ArticlesController" data-ng-init="find()">
		<div data-ng-repeat="article in articles" class="col-md-4 col-lg-4 col-sm-4">
			<span>{{article.created | date:'medium'}}</span> /
			<span>{{article.user.name}}</span>
			<h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a></h2>
			<div>
			<div my-youtube code="article.video"></div>
			{{article.content}}
			</div>
		</div>
	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section>